{% extends 'layout.html.twig' %}

{% block content %}
    <div class="text-right">
        <a class="btn btn-success" href="{{ app.request.basepath }}/users/create">
            <i class="glyphicon glyphicon-plus"></i> New user
        </a>
    </div>
    {% if users | length == 0 %}
        <div class="well" style="margin-top: 20px;">Users list is empty. <a href="{{ app.request.basepath }}/users/create">Create</a> a new one.</div>
    {% else %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Username</th>
                    <th>Password</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.password }}</td>
                        <td class="text-right">
                            <a class="btn btn-primary btn-xs" href="{{ app.request.basepath }}/users/edit/{{ user.id }}">
                                <i class="glyphicon glyphicon-pencil"></i>
                            </a>
                            <a class="btn btn-danger btn-xs" href="{{ app.request.basepath }}/users/delete/{{ user.id }}">
                                <i class="glyphicon glyphicon-trash"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}